.Services {
  max-width: 2000px;
  margin: 0% auto;
}
.Services .internal-section-spacer {
  margin-bottom: 40px;
}
.Services .top-floater {
  padding-top: 2rem;
  width: clamp(200px, 80%, 100%);
  margin: auto;
  min-height: clamp(200px, 90vh, 1000px);
  align-items: center;
  justify-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image image" "text text";
}
.Services img {
  width: 100%;
}
.Services .top-floater-image {
  grid-area: image;
  width: clamp(200px, 100%, 600px);
}
.Services .top-floater-text {
  grid-area: text;
  text-align: center;
}
.Services .top-floater-text * {
  margin-left: auto;
  margin-right: auto;
}
.Services .services-wrapper {
  margin-top: 40px;
  text-align: center;
}
.Services .services-wrapper * {
  margin-left: auto;
  margin-right: auto;
}
.Services .service-card {
  background-image: linear-gradient(90deg, rgba(75, 40, 196, 0.9) 0%, rgba(139, 63, 174, 0.9) 100%);
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  width: 100%;
}
.Services .service-card h1 {
  padding: 0;
  margin: 0;
}
.Services .services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: clamp(200px, 80%, 100%);
  gap: 20px;
  grid-template-areas: "seo seo seo" "design design design" "social social social" "maintaining maintaining maintaining";
  overflow: hidden;
  border-radius: 20px;
}
.Services .service-card-background {
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  filter: blur(1.2px);
  opacity: 0.1;
}
.Services .service-card:nth-of-type(1) {
  position: relative;
  grid-area: seo;
}
.Services .service-card:nth-of-type(1) .service-card-background {
  background-image: url("../../../Assets/Images/backgrounds/seo.webp");
}
.Services .service-card:nth-of-type(2) {
  grid-area: design;
  position: relative;
}
.Services .service-card:nth-of-type(2) .service-card-background {
  background-image: url("../../../Assets/Images/backgrounds/web-developement.webp");
}
.Services .service-card:nth-of-type(3) {
  grid-area: social;
  position: relative;
}
.Services .service-card:nth-of-type(3) .service-card-background {
  background-image: url("../../../Assets/Images/backgrounds/social-media.webp");
}
.Services .service-card:nth-of-type(4) {
  grid-area: maintaining;
  position: relative;
}
.Services .service-card:nth-of-type(4) .service-card-background {
  background-image: url("../../../Assets/Images/backgrounds/maintanance.webp");
}
.Services .service-text {
  max-width: 30rem;
}
@media only screen and (min-width: 1100px) {
  .Services .top-floater {
    margin-top: 0px;
    grid-template-areas: "image text";
  }
  .Services h1 {
    white-space: nowrap;
  }
  .Services .services-cards {
    grid-template-areas: "seo seo design" "social maintaining maintaining";
  }
}/*# sourceMappingURL=Services.css.map */