@import "../../../variables.scss";

.Header {
    background-color: rgb(39, 11, 85);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: "logo nav";
    padding: 0rem 2rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;

    .route {
        position: relative;
    }

    .services-select-wrapper:hover {
        .services-select {
            pointer-events: all;
            opacity: 1;
            transition: all 0.3s ease-in-out;

            .service-route {
                opacity: 1;
            }
        }
    }

    .services-select {
        pointer-events: none;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        transition: all 0.3s ease-in-out;
        opacity: 0;

        a {
            color: rgb(39, 11, 85);
        }

        .service-route {
            transition: all 0.3s ease-in-out;
        }

        .service-route:hover {
            color: $pink-caption;
        }
    }

    .active {
        color: $pink-caption;
    }

    .logo {
        grid-area: logo;
        justify-self: start;
    }

    :nth-child(3) {
        grid-area: nav;
        justify-self: end;
    }

    .contact-button {
        grid-area: contact;
        justify-self: end;
        display: none;
    }

    .logo {
        width: 200px;
    }

    .links {
        display: flex;

        * {
            text-decoration: none;
            white-space: nowrap;
        }
    }

    .mobile {
        position: relative;

        .mobile-buttons {
            color: rgb(39, 11, 85);
            top: 3rem;
            right: 0rem;
            opacity: 0;
        }
    }

    .regular {
        display: none;
    }

    .mobile {
        display: block;
    }

    .page-overlay {
        position: fixed;
        inset: 0;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .no-display {
        display: none;
    }

    .defer {
        pointer-events: none;
    }

    @media only screen and (min-width: 40rem) {
        padding: 0.5rem 3rem;
        grid-template-areas: "contact logo nav";
        grid-template-columns: 1fr 1fr 1fr;

        .logo {
            justify-self: center;
        }

        .contact-button {
            justify-self: start;
            display: inline-flex;
        }
    }

    @media only screen and (min-width: 80rem) {
        grid-template-areas: "logo nav contact";

        .regular {
            display: flex;
            flex-direction: row-reverse;
        }

        .mobile {
            display: none;
        }

        .logo {
            justify-self: start;
        }

        :nth-child(2).logo {
            grid-area: nav;
            justify-self: center;
        }

        .contact-button {
            justify-self: end;
            display: inline-flex;
        }

        .services-select {
            position: absolute;
        }

    }
}