.About {
    .top-floater {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        grid-template-areas:
            'image text'
        ;
        justify-content: center;
        align-items: center;
        padding-inline: 30px;
        margin-top: 150px;
    }

    .top-floater div:nth-of-type(1) {
        grid-area: text;
    }

    .top-floater-image {
        grid-area: image;
        width: clamp(200px, 80%, 80%);
        aspect-ratio: 1/1;
        margin: auto;
    }

    .top-floater-text {
        grid-area: text;
        text-align: center;

        * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .data-section-content {
        line-height: 100%;
        margin-top: 40px;
        font-size: 17px;
    }

    .data-section-content-inner {
        font-family: fredoka-bold;
        color: #ff57a4;
        display: block;
        font-size: 20px;
        margin: 10px auto;
    }

    h1 {
        white-space: nowrap;
    }

    .child {
        width: 100%;
    }

    .about-content{
        padding:4rem 2rem;
        .team-section{
            max-width: 80rem;
            margin: 0 auto;
            padding:2rem 0;
            font-family: fredoka-medium;
            font-size: 20px;
            text-align: center;
            section{
                padding-block: 1rem;
                direction: rtl;
            }
        }
    }

    @media only screen and (max-width:"1050px") {
        h1 {
            white-space: normal;
        }


        .child {
            position: relative;
            width: 100%;
        }

        .top-floater-text {
            margin-top: 50px;
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }

        .top-floater {
            grid-template-areas:
                'image image'
                'text text'
            ;
            height: auto;
        }
    }
}