.HomePage {
    .main-banner {
        max-width: none;
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        direction: rtl;
        display: grid;
        align-items: center;
        justify-content: flex-start;
        padding: 100px;
        box-shadow: 0px 0px 20px 30px #270B55;
    }

    .data-section {
        margin: auto;
        width: clamp(200px, 90%, 100%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-block: 50px;
    }

    .top-banner-text {
        width: fit-content;
        white-space: nowrap;
        text-align: center;
        line-height: .5;
        padding: 30px;


        p {
            font-size: 25px;
        }

        p:nth-of-type(1) {
            font-family: fredoka-bold;
            font-size: 50px;
        }

        p:nth-of-type(2) {
            font-family: fredoka-light;
            font-size: 50px;

            span {
                font-family: fredoka-semi-bold;
            }
        }

    }
    .Contact{
        margin-inline:none;
    }

    .pink-caption {
        margin: 0% auto;
    }

    .what-we-do-summary {
        display: grid;
        width: clamp(200px, 80%, 100%);
        margin: 100px auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "maintain seo design"
        ;
        gap: 40px;
    }

    .HomePageServiceCard:nth-of-type(1) {
        grid-area: maintain;
    }

    .HomePageServiceCard:nth-of-type(2) {
        grid-area: seo;
    }

    .HomePageServiceCard:nth-of-type(3) {
        grid-area: design;
    }

    .data-section-content {
        margin-top: 60px;
        font-size: 19px;
    }

    .data-section-content-inner {
        font-family: fredoka-semi-bold;
    }

    .bouncing-img {
        margin: auto;
        width: clamp(200px, 90%, 700px);
        aspect-ratio: 1/0.8;
        animation: localBounce 5s ease-in-out 0s infinite alternate;
        align-self: center;
    }

    .data-section-parent {
        margin-top: 60px;
    }

    .data-section-content{
        padding: 30px;
    }

    .data-section {
        // margin-top: 100px;
    }

    .portfolio-summary-parent {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        width: clamp(200px, 80%, 100%);
        margin: 100px auto 50px;
    }

    .parent {
        position: relative;
        width: 100%;
    }

    .child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-banner-content {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .project-summary {
        width: clamp(200px, 100%, 290px);
    }

    .portfolio-image {
        width: 100%;
        aspect-ratio: 1/0.85;
    }

    .contact-page {
        margin-top: 100px;
    }


    @media only screen and (max-width:1100px) {
        
        .main-banner {
            background-position: left;
        }

        .what-we-do-summary {
            grid-template-areas:
                'maintain maintain maintain'
                'seo seo seo'
                'design design design'
            ;

            * {
                justify-content: center !important;
                align-items: center;
                text-align: center;
            }
        }

        .data-section-content {
            padding: 30px;
            text-align: center;
        }

        .portfolio-summary-parent {
            flex-direction: column;
            align-items: center;
        }

        .data-section {
            grid-template-columns: 1fr;
        }

        .main-banner {
            display: flex;
            background-position: right;
        }

        .top-banner-text {
            white-space: normal;
            line-height: 4rem;
            position: relative;
            top: none;
            left: none;
            width: 100%;
            transform: none;
        }

        .top-banner-text {
            padding: 0px;
            line-height: 1;

            p:nth-of-type(1) {
                font-family: fredoka-bold;
                font-size: 50px;
            }

            p:nth-of-type(2) {
                font-family: fredoka-light;
                font-size: 50px;
                margin: 0%;

                span {
                    font-family: fredoka-semi-bold;
                }
            }

            p:nth-of-type(3) {
                font-size: 25px;
            }
        }
        .main-banner{
            padding: 0px;
        }
    }
}