.HomePage .main-banner {
  max-width: none;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  direction: rtl;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
  box-shadow: 0px 0px 20px 30px #270B55;
}
.HomePage .data-section {
  margin: auto;
  width: clamp(200px, 90%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-block: 50px;
}
.HomePage .top-banner-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  text-align: center;
  line-height: 0.5;
  padding: 30px;
}
.HomePage .top-banner-text p {
  font-size: 25px;
}
.HomePage .top-banner-text p:nth-of-type(1) {
  font-family: fredoka-bold;
  font-size: 50px;
}
.HomePage .top-banner-text p:nth-of-type(2) {
  font-family: fredoka-light;
  font-size: 50px;
}
.HomePage .top-banner-text p:nth-of-type(2) span {
  font-family: fredoka-semi-bold;
}
.HomePage .Contact {
  margin-inline: none;
}
.HomePage .pink-caption {
  margin: 0% auto;
}
.HomePage .what-we-do-summary {
  display: grid;
  width: clamp(200px, 80%, 100%);
  margin: 100px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "maintain seo design";
  gap: 40px;
}
.HomePage .HomePageServiceCard:nth-of-type(1) {
  grid-area: maintain;
}
.HomePage .HomePageServiceCard:nth-of-type(2) {
  grid-area: seo;
}
.HomePage .HomePageServiceCard:nth-of-type(3) {
  grid-area: design;
}
.HomePage .data-section-content {
  margin-top: 60px;
  font-size: 19px;
}
.HomePage .data-section-content-inner {
  font-family: fredoka-semi-bold;
}
.HomePage .bouncing-img {
  margin: auto;
  width: clamp(200px, 90%, 700px);
  aspect-ratio: 1/0.8;
  -webkit-animation: localBounce 5s ease-in-out 0s infinite alternate;
          animation: localBounce 5s ease-in-out 0s infinite alternate;
  align-self: center;
}
.HomePage .data-section-parent {
  margin-top: 60px;
}
.HomePage .data-section-content {
  padding: 30px;
}
.HomePage .portfolio-summary-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: clamp(200px, 80%, 100%);
  margin: 100px auto 50px;
}
.HomePage .parent {
  position: relative;
  width: 100%;
}
.HomePage .child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.HomePage .main-banner-content {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.HomePage .project-summary {
  width: clamp(200px, 100%, 290px);
}
.HomePage .portfolio-image {
  width: 100%;
  aspect-ratio: 1/0.85;
}
.HomePage .contact-page {
  margin-top: 100px;
}
@media only screen and (max-width: 1100px) {
  .HomePage .main-banner {
    background-position: left;
  }
  .HomePage .what-we-do-summary {
    grid-template-areas: "maintain maintain maintain" "seo seo seo" "design design design";
  }
  .HomePage .what-we-do-summary * {
    justify-content: center !important;
    align-items: center;
    text-align: center;
  }
  .HomePage .data-section-content {
    padding: 30px;
    text-align: center;
  }
  .HomePage .portfolio-summary-parent {
    flex-direction: column;
    align-items: center;
  }
  .HomePage .data-section {
    grid-template-columns: 1fr;
  }
  .HomePage .main-banner {
    display: flex;
    background-position: right;
  }
  .HomePage .top-banner-text {
    white-space: normal;
    line-height: 4rem;
    position: relative;
    top: none;
    left: none;
    width: 100%;
    transform: none;
  }
  .HomePage .top-banner-text {
    padding: 0px;
    line-height: 1;
  }
  .HomePage .top-banner-text p:nth-of-type(1) {
    font-family: fredoka-bold;
    font-size: 50px;
  }
  .HomePage .top-banner-text p:nth-of-type(2) {
    font-family: fredoka-light;
    font-size: 50px;
    margin: 0%;
  }
  .HomePage .top-banner-text p:nth-of-type(2) span {
    font-family: fredoka-semi-bold;
  }
  .HomePage .top-banner-text p:nth-of-type(3) {
    font-size: 25px;
  }
  .HomePage .main-banner {
    padding: 0px;
  }
}/*# sourceMappingURL=HomePage.css.map */